<!DOCTYPE html>
<html lang="es">
<head th:replace="layout/layout3 :: head">

</head>
<body>
    <link rel="stylesheet" th:href="@{/css/personal/home.css}" />
    
    <header th:replace="layout/layout3 :: header"></header>
   
    <div class="text-center">
        <h1>Escanear Codigo QR</h1>
    </div>
    <link rel="stylesheet" th:href="@{/Administrador/style3.css}" />
    <!-- Tres cuadros con títulos -->
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="text-center">
                <img th:src="@{/images/personal/img7.jpg}" class="img-fluid rounded-start img-thumbnail" style="width: 50%;" alt="...">
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                 <video id="video" width="440" height="280" autoplay></video>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center" id="fechaContainer">
                <h4>Fecha de Hoy</h4>
            </div>
        </div>
    </div>
    <br>
    <br>
   <div class="row mt-4">
        <div class="col-md-4">
            <div class="text-center">
                <h4>Unidad</h4>
                <input type="text" class="form-control" placeholder="Unidad">
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <h4>Hora de Salida</h4>
                <input type="text" class="form-control" placeholder="Hora Salida">
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center" id="fechaContainer">
                <h4>Asiento</h4>
                <input type="text" class="form-control" placeholder="Asiento">
            </div>
        </div>
    </div>
    <br>
    <br>
    
    <div class="d-flex justify-content-center mt-3">
        
    <a class="nav-link btn btn-primary" th:href="${'/'}">
        Cancelar
    </a>

	
        <button class="btn btn-primary mr-2" onclick="escanearCodigoQR()">Escanear QR</button>
    </div>

   <script>
        function escanearCodigoQR() {
            var video = document.getElementById('video');
            var canvas = document.createElement('canvas');
            var context = canvas.getContext('2d');

            // Dibujar el video en el canvas
            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            // Obtener la imagen en base64 desde el canvas
            var imagenBase64 = canvas.toDataURL('image/png').replace(/^data:image\/(png|jpg);base64,/, '');

            // Enviar la imagen en base64 al servidor
            fetch('/escanearCodigoQR', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'imagenBase64=' + encodeURIComponent(imagenBase64),
            })
            .then(response => response.text())
            .then(resultado => {
                alert(resultado);
            })
            .catch(error => console.error('Error al escanear el código QR: ' + error));
        }
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                var video = document.getElementById('video');
                video.srcObject = stream;
            })
            .catch(function (err) {
                console.error('Error al acceder a la cámara: ' + err);
            });
        // Mostrar la fecha actual
        var fechaContainer = document.getElementById('fechaContainer');
        var fechaActual = new Date();
        var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        fechaContainer.innerHTML += '<p>' + fechaActual.toLocaleDateString('es-ES', options) + '</p>';
    </script>


    <footer th:replace="layout/layout3 :: footer"></footer>
    <script th:src="@{/js/personal/home.js}"></script>
</body>
</html>
