<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout3 :: head">

</head>

<body>
	<link rel="stylesheet" th:href="@{/css/personal/home.css}" />
<link rel="stylesheet" th:href="@{/Administrador/style3.css}" />
	<header th:replace="layout/layout3 :: header"></header>

	<section id="hero" class="d-flex align-items-center">

		<div class="container">
			<div class="row">
				<div
					class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
					data-aos="fade-up" data-aos-delay="200">
					<h1>Bienvenida <span th:text="${personal}"></span></h1>
					<h2>Aqui podrás gestionar los boletos y unidades de la app</h2>
					<div class="d-flex justify-content-center justify-content-lg-start">
						<a href="#about" class="btn-get-started scrollto">Acerca de tu rol</a>
						 <a
							href="https://www.youtube.com/watch?v=7tQRzmxPza0"
							class="glightbox btn-watch-video"><i
							class="bi bi-play-circle"></i><span>Demo Video</span></a>
					</div>
				</div>
				<div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in"
					data-aos-delay="200">
					<img src="/images/img60.png" class="img-fluid animated"
						alt="">
				</div>
			</div>
		</div>

	</section>
	<main id="main">
		<section id="clients" class="clients section-bg">
			<div class="container">

				<div class="row" data-aos="zoom-in">

					<div
						class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-1.png" class="img-fluid"
							alt="">
					</div>

					<div
						class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-2.png" class="img-fluid"
							alt="">
					</div>

					<div
						class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-3.png" class="img-fluid"
							alt="">
					</div>

					<div
						class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-4.png" class="img-fluid"
							alt="">
					</div>

					<div
						class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-5.png" class="img-fluid"
							alt="">
					</div>

					<div
						class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-6.png" class="img-fluid"
							alt="">
					</div>

				</div>

			</div>
		</section>
<section id="about" class="about">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>Acerca de tu rol</h2>
				</div>

				<div class="row content">
					<div class="col-lg-6">
						<div class="info">

		<h4 class="viaj">
			¿Que debe tener presente nuestro personal siempre?
		</h4>
		
		<div id="tarjeta2" class="row text-center mb-3" >
    <div class="card" style="max-width: 450px;" >
        <div class="row g-0 mb-2"> <!-- Aplicar el margen inferior aquí -->
         
            <div class="col-md-4">
                <img th:src="@{/images/personal/img1.png}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" > Rutas Completadas</h5>
                    <p class="card-text"><small class="text-muted" >Siempre identificamos y colaboramos para completar todas las rutas creadas por el administrador</small></p>
       
                </div>
            </div>
        </div>
    </div>
      <div class="card" style="max-width: 450px;" >
        <div class="row g-0 mb-2"> <!-- Aplicar el margen inferior aquí -->
         
            <div class="col-md-4">
                <img th:src="@{/images/personal/img2.png}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" > Brindar Satisfaccion a los Clientes</h5>
                    <p class="card-text"><small class="text-muted" >
Brindamos atención excepcional porque cada interacción es una oportunidad para crear satisfacción</small></p>
       
                </div>
            </div>
        </div>
    </div>
      
</div>

	</div>
					</div>
					<div class="col-lg-6 pt-4 pt-lg-0">
						<p>Bienvenido al panel de administración de nuestra plataforma de reserva de boletos de buses. Como personal autorizado, tienes acceso privilegiado a herramientas y funciones diseñadas para gestionar eficientemente todos los aspectos de nuestro servicio. Desde este panel, puedes ver códigos, informes y realizar el seguimiento de pagos. La flexibilidad de nuestro sistema te permite ajustar cronogramas y mantener actualizada la base de datos, garantizando un servicio de transporte público eficiente.</p>
						<a href="#" class="btn-learn-more">Conocer más</a>
					</div>
				</div>

			</div>
		</section>

	</main>
	
	
	

	<!-- Footer -->
	<footer th:replace="layout/layout3 :: footer"></footer>

	<script th:src="@{/js/personal/home.js}"></script>
</body>

</html>