<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Bienvenido</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

	

      <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
	    <h1 class="display-2">Bienvenido a Reservas de boletoss</h1>
	    <p class="lead">Puedes reservar en línea</p>
	</header>
	 <h4>
			Bienvenido <span sec:authentication="principal.username"></span>
		</h4>
		<li class="nav-item"><a href="/logout">Cerrar sesión</a></li>
		
		
      <!-- Page Features -->
      <div class="row text-center">
  <h1>Reservar boletos:</h1>
     <h1>Unidades disponibles:</h1>

<form id="detalleForm" action="/boleto/form" method="POST" style="display: none;">
    <input type="hidden" name="unidadId" id="unidadId">
    <input type="hidden" name="cronogramaId" id="cronogramaId">
    <input type="hidden" name="horaSalida" id="horaSalida">
    <input type="hidden" name="costo" id="costo">
</form>

<form class="form-inline my-2 my-lg-0" method="post" th:action="@{/search}">
				<form class="form-inline my-2 my-lg-0" method="post" th:action="@{/search}">
    <input class="form-control mr-sm-2" type="date" name="fecha" id="fecha" placeholder="Seleccionar fecha">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>
				

   <div class="row text-center" th:if="${#lists.isEmpty(resultados)}">
    <p>No se encontraron resultados.</p>
</div>

<div class="row text-center" th:if="${not #lists.isEmpty(resultados)}">
    <div class="col-lg-3 col-md-6 mb-4" th:each="resultado: ${resultados}">
        <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
                <p class="card-text">
                    Origen: <span th:text="${resultado[4]}"></span>
                </p>
                <p class="card-text">
                    Destino: <span th:text="${resultado[5]}"></span>
                </p>
                <p class="card-text">Unidad: <span th:text="${resultado[0]}"></span></p>
                <p class="card-text">Cooperativa: <span th:text="${resultado[1]}"></span></p>
                <!-- Detalles del cronograma de la unidad -->
                
                
                        <span th:text="'Fecha: ' +  ${resultado[2]}"></span>
                        <span th:text="'Hora: ' + ${resultado[3]}"></span>
                  
        
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-success">Ver detalles</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
    </div>
</div>




        
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
 <footer th:replace="layout/layout :: footer"></footer>
    <script th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  </body>

  </html>
