<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout2 :: head"></head>




<body>


<link rel="stylesheet" th:href="@{/Administrador/style2.css}" />
	<header th:replace="layout/layout2 :: header" ></header >
	<section id="hero" class="d-flex align-items-center">

		<div class="container">
			<div class="row">
				<div
					class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
					data-aos="fade-up" data-aos-delay="200">
					<h1>Bienvenido <span th:text="${pasajero}"></span></h1>
					<h2>Aqui podrás reservas tus asientos y gestionar todas tus reservas de buses intercantonales registrados</h2>
					<div class="d-flex justify-content-center justify-content-lg-start">
						<div class="d-flex justify-content-center justify-content-lg-start">
						<a href="#about" class="btn-get-started scrollto">Acerca de BookmyDrive</a> <a
							href="https://www.youtube.com/watch?v=JkP8giu7Mvc"
							class="glightbox btn-watch-video"><i
							class="bi bi-play-circle"></i><span>Demo Video</span></a>
					</div>
						
					</div>
				</div>
				<div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in"
					data-aos-delay="200">
					<img src="/images/img55.png" class="img-fluid animated"
						alt="">
				</div>
			</div>
		</div>

	</section>
	<main id="main">
		<section id="clients" class="clients section-bg">
			<div class="container">

				<div class="row" data-aos="zoom-in">

					<div
						class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-1.png" class="img-fluid"
							alt="">
					</div>

					<div
						class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-2.png" class="img-fluid"
							alt="">
					</div>

					<div
						class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-3.png" class="img-fluid"
							alt="">
					</div>

					<div
						class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-4.png" class="img-fluid"
							alt="">
					</div>

					<div
						class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-5.png" class="img-fluid"
							alt="">
					</div>

					<div
						class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-6.png" class="img-fluid"
							alt="">
					</div>

				</div>

			</div>
		</section>
		<section id="about" class="about">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>Acerca de BookMyDrive</h2>
				</div>

				<div class="row content">
					<div class="col-lg-6">
						<p>Bienvenido a tu aplicación 
							de reserva de boletos de buses. Como pasajero, tienes acceso
							a  funciones diseñadas para gestionar
							eficientemente todos tus reservas. Desde este
							panel, puedes visualizar viajes proximos y buscarlos según preferencias.
							</p>
					</div>
					<div class="col-lg-6 pt-4 pt-lg-0">
						<p>Al cancelar no se aplica valores recaudos o extras si se lo realiza dentro del
									periodo de tiempo establecido, pero se le penaliza dentro de la aplicación</p>
						<a href="#services" class="btn-learn-more">Ver viajes próximos</a>
					</div>
				</div>

			</div>
		</section>
		<!-- End About Us Section -->

		<!-- ======= Why Us Section ======= -->


		<!-- ======= Skills Section ======= -->

		<!-- ======= Services Section ======= -->
		<section id="services" class="services section-bg">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>Viajes Próximos</h2>
					<p id="fecha-actual"></p>
					
				</div>

				<div class="row" th:if="${#lists.isEmpty(resultados)}">
					<div class="col-xl-3 col-md-6 d-flex align-items-stretch"
						data-aos="zoom-in" data-aos-delay="100" >
						<div class="icon-box">
							<div class="icon">
								
							</div>
							<h4>
								<a href="#viajes">Buscar Viajes</a>
							</h4>
							<p>No se encontraron viajes para el dia de hoy, indaga en una búsqueda para buscar más viajes</p>
						</div>
					</div>

					
				</div>

<div id="viaje"class="row" th:if="${not #lists.isEmpty(resultados)}">
					<div class="col-xl-3 col-md-6 d-flex align-items-stretch"
						data-aos="zoom-in" data-aos-delay="100" th:each="resultado: ${resultados}">
						<div class="icon-box">
							<div class="icon">
								<img th:src="@{'/uploads/' + ${resultado[8]}}" class="image" alt="...">
							</div>
							
							<h4>
								
							<h5 class="card-title" th:text="${resultado[5]}+' - '+${resultado[6]}"></h5>
							<p class="card-text"><small class="text-muted"
									th:text="'Hora de salida: ' + ${resultado[4]}"></small></p>
							
							</h4>
							<p class="card-text"><small class="text-muted"
								th:text="'Unidad: '+ ${resultado[2]} +' ' + ${resultado[1]}"></small></p>
								<a class="btn btn-primary" th:href="@{/asientos/}+ ${resultado[7]}">Reservar</a>
						</div>
					</div>

					
				</div>
			</div>
		</section>
		<!-- End Services Section -->
		
		<section id="viajes" class="about">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>Busqueda</h2>
				</div>

				<div class="row content">
					<div class="col-lg-6">
						<p>No encontraste algo a tu gusto , busca tus viajes por fecha:
							</p>
					</div>
					<div class="col-lg-6 pt-4 pt-lg-0">
						
		<div class="inputt">
			<div class="row">
				<div class="col-md-6 mb-3">
					<form class="form-inline my-2 my-lg-0" method="post" th:action="@{/search}">
						<label for="fecha" class="form-label">Búsqueda por fecha:</label>
						<div class="input-group">
						
								<input placeholder="Seleccionar fecha" type="date"  name="fecha" id="fecha" class="form-control"  min="<?php echo date('d-m-Y'); ?>" required>
							<button class="btn btn-primary" type="submit">Buscar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
					</div>
				</div>

			</div>
		</section>
</main>
		<script>
      

        function obtenerDia(fecha) {
            const diasSemana = ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'];
            return diasSemana[fecha.getDay()];
        }

        function obtenerMes(fecha) {
            const meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
            return meses[fecha.getMonth()];
        }

        var today = new Date().toISOString().split('T')[0];
        document.getElementById("fecha").setAttribute("min", today);

        
    </script>


	<!-- Footer -->
	<footer th:replace="layout/layout2 :: footer"></footer>
	<script th:src="@{vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/pasajero/home.js}"></script>
</body>

</html>
