<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="pasajero/layout :: head">
	
</head>

<body>
<link rel="stylesheet" th:href="@{/css/pasajero/home.css}" />

	<header th:replace="pasajero/layout :: header"></header>




      <!-- Jumbotron Header -->

	    <h4 class="titulo">
			Bienvenido <span th:text="${pasajero}"></span>
		</h4>
		
		
		
		
      <!-- Page Features -->
      <div class="row text-center">
  <h1>Reservar boletos:</h1>
     <h1>Unidades disponibles:</h1>

<form id="detalleForm" action="/boleto/form" method="POST" style="display: none;">
    <input type="hidden" name="unidadId" id="unidadId">
    <input type="hidden" name="cronogramaId" id="cronogramaId">
    <input type="hidden" name="horaSalida" id="horaSalida">
    <input type="hidden" name="costo" id="costo">
</form>

<form class="form-inline my-2 my-lg-0" method="post" th:action="@{/search}">
				<form class="form-inline my-2 my-lg-0" method="post" th:action="@{/search}">
    <input class="form-control mr-sm-2" type="date" name="fecha" id="fecha" placeholder="Seleccionar fecha">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>
				

   <div class="row text-center" th:if="${#lists.isEmpty(resultados)}">
    <p>No se encontraron resultados.</p>
</div>

<div class="row text-center" th:if="${not #lists.isEmpty(resultados)}">
    <div class="col-lg-3 col-md-6 mb-4" th:each="resultado: ${resultados}">
        <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
                <p class="card-text">
                    Origen: <span th:text="${resultado[5]}"></span>
                </p>
                <p class="card-text">
                    Destino: <span th:text="${resultado[6]}"></span>
                </p>
                <p class="card-text">Unidad: <span th:text="${resultado[1]}"></span></p>
                <p class="card-text">Cooperativa: <span th:text="${resultado[2]}"></span></p>
                <!-- Detalles del cronograma de la unidad -->
                
                
                        <span th:text="'Fecha: ' +  ${resultado[3]}"></span>
                        <span th:text="'Hora: ' + ${resultado[4]}"></span>
                  
        
            </div>
            <div class="card-footer">
                <a class="btn btn-secondary btn-xs"
								th:href="@{/asientos/}+ ${resultado[7]}">Ver asientos</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
    </div>
</div>




        
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
 <footer th:replace="pasajero/layout :: footer"></footer>
    

  </body>

  </html>
