<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout2 :: head">

</head>
<body>
		<header th:replace="layout/layout2 :: header"></header>

<link rel="stylesheet" th:href="@{/Administrador/style2.css}" />
		<section id="clients" class="clients section-bg">
			<div class="container">

				<div class="row" data-aos="zoom-in">

					<div
						class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-1.png" class="img-fluid"
							alt="">
					</div>

					<div
						class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-2.png" class="img-fluid"
							alt="">
					</div>

					<div
						class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-3.png" class="img-fluid"
							alt="">
					</div>

					<div
						class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-4.png" class="img-fluid"
							alt="">
					</div>

					<div
						class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-5.png" class="img-fluid"
							alt="">
					</div>

					<div
						class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-6.png" class="img-fluid"
							alt="">
					</div>

				</div>

			</div>
		</section>
		<section id="services" class="services section-bg">
			
			<div class="container" data-aos="fade-up">
	
    <div class="uni">
		<div class="section-title">
	
					<h2>Boletos del usuario </h2>
					
				
					<small>Estos son sus respectivos boletos comprados en la aplicación, puede visualizar el código QR respectivo a cada boleto al dar click en "Ver QR"</small>
				</div>
    </div>
 
			</section>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-body">

		
				<table class="table table-success table-striped">
					<thead class="thead-inverse">
						<tr>
							<th class="bg-dark text-white">ASIENTO</th>
							<th class="bg-dark text-white">RUTA</th>
							<th class="bg-dark text-white">UNIDAD</th>
							<th class="bg-dark text-white">FECHA</th>
							<th class="bg-dark text-white">HORA</th>
							<th class="bg-dark text-white">VER QR</th>
						
						</tr>
					</thead>
					<tbody>
						<tr th:each="boleto: ${boletos}">
							<td th:text="${boleto.asiento.fila}+ ' - ' + ${boleto.asiento.columna}"></td>
							<td th:text="${boleto.cronograma.ruta.rutaOrigen}+ ' - ' + ${boleto.cronograma.ruta.rutaDestino}"></td>
							<td th:text="${boleto.cronograma.unidad.numero}+ ' - ' + ${boleto.cronograma.unidad.cooperativa.nombre}"></td>
							<td th:text="${boleto.cronograma.fecha}"></td>
							<td th:text="${boleto.cronograma.horaSalida}"></td>
							<td><a class="btn btn-secondary btn-xs"
								th:href="@{/generarQR/{boletoId}(boletoId=${boleto.id})}">Generar QR</a></td>
							
							
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<footer th:replace="layout/layout2 :: footer"></footer>
	<link rel="stylesheet" th:href="@{/css/pasajero/listarboleto.css}" />

</body>
</html>