<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="pasajero/layout :: head">

</head>

<body>
	<link rel="stylesheet" th:href="@{/css/pasajero/listar_asientos.css}" />
	<header th:replace="pasajero/layout :: header"></header>
	
	
		
    <div class="uni">
	<h1>Escoge tus asientos:</h1>


	<div class="card h-100" th:each="dato: ${datos}">
		<div class="card-body">
			<p class="card-text">
				Unidad: <span th:text="${dato[0]}"></span>
			</p>
			<p class="card-text">
				Cooperativa: <span th:text="${dato[1]}"></span>
			</p>
			<p class="card-text">
				Fecha: <span th:text="${dato[2]}"></span>
			</p>
			<p class="card-text">
				Hora: <span th:text="${dato[3]}"></span>
			</p>
			<p class="card-text">
				Origen: <span th:text="${dato[4]}"></span>
			</p>
			<p class="card-text">
				Destino: <span th:text="${dato[5]}"></span>
			</p>
		</div>
     </div>
</div>
<div class="card-header" th:text="${titulo}"></div>

		<center><h1>Disponibles: <div class="disponible"></div> Ocupados: <div class="ocupado"></div></h1></center>
	
            <div class="row">
                <div class="col">
                    <h1>Seleccione asientos</h1>
                </div>
            </div>
   
      
        <div class="container py-4">
        <div class="row">
            <div class="col-md-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <table class="table table-striped">
								<thead>
									<tr>
										<th>Numero-Asiento</th>
										<th>Seleccionar</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="asiento: ${asientos}">
										<td th:text="${asiento.fila + asiento.columna}"
											th:style="'background-color: ' + (${asiento.estado != null && asiento.estado == 'Ocupado' ? 'red' : 'gray'})">
										</td>
										<td>
											<form th:action="@{'/asiento/' + ${asiento.id} + '/actualizarEstado'}" method="post">
                                    <button type="submit" th:class="'btn btn-secondary btn-xs btn-estado btn-' + ${asiento.estado}"
                                        th:text="${asiento.estado == 'Disponible' ? 'Seleccionar' : 'Deseleccionar'}"
                                        th:disabled="${asiento.estado == 'Ocupado'}"
                                        th:style="'background-color: ' + (${asiento.estado != null && asiento.estado == 'Disponible' ? 'green' : 'gray'})"
                                        >
                                    </button>
                                </form>
									             </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
				
				 
            <div class="col-md-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <table class="table table-striped">
								<thead>
									<tr>
										<th>Numero-Asiento</th>
										<th>Seleccionar</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="asiento2: ${asientos2}">
										<td th:text="${asiento2.fila + asiento2.columna}"
											th:style="'background-color: ' + (${asiento2.estado != null && asiento2.estado == 'Ocupado' ? 'red' : 'gray'})">
										</td>
										<td>
											<form th:action="@{'/asiento/' + ${asiento2.id} + '/actualizarEstado'}" method="post">
                                    <button type="submit" th:class="'btn btn-secondary btn-xs btn-estado btn-' + ${asiento2.estado}"
                                        th:text="${asiento2.estado == 'Disponible' ? 'Seleccionar' : 'Deseleccionar'}"
                                        th:disabled="${asiento2.estado == 'Ocupado'}"
                                        th:style="'background-color: ' + (${asiento2.estado != null && asiento2.estado == 'Disponible' ? 'green' : 'gray'})"
                                        >
                                    </button>
                                </form>
											</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
				
					  
            <div class="col-md-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <table class="table table-striped">
								<thead>
									<tr>
										<th>Numero-Asiento</th>
										<th>Seleccionar</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="asiento3: ${asientos3}">
										<td th:text="${asiento3.fila + asiento3.columna}"
											th:style="'background-color: ' + (${asiento3.estado != null && asiento3.estado == 'Ocupado' ? 'red' : 'gray'})">
										</td>
										<td>
											<form th:action="@{'/asiento/' + ${asiento3.id} + '/actualizarEstado'}" method="post">
                                    <button type="submit" th:class="'btn btn-secondary btn-xs btn-estado btn-' + ${asiento3.estado}"
                                        th:text="${asiento3.estado == 'Disponible' ? 'Seleccionar' : 'Deseleccionar'}"
                                        th:disabled="${asiento3.estado == 'Ocupado'}"
                                        th:style="'background-color: ' + (${asiento3.estado != null && asiento3.estado == 'Disponible' ? 'green' : 'gray'})"
                                        >
                                    </button>
                                </form>
											</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
				
											  
            <div class="col-md-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <table class="table table-striped">
								<thead>
									<tr>
										<th>Numero-Asiento</th>
										<th>Seleccionar</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="asiento4: ${asientos4}">
										<td th:text="${asiento4.fila + asiento4.columna}"
											th:style="'background-color: ' + (${asiento4.estado != null && asiento4.estado == 'Ocupado' ? 'red' : 'gray'})">
										</td>
										<td>
											<form th:action="@{'/asiento/' + ${asiento4.id} + '/actualizarEstado'}" method="post">
                                    <button type="submit" th:class="'btn btn-secondary btn-xs btn-estado btn-' + ${asiento4.estado}"
                                        th:text="${asiento4.estado == 'Disponible' ? 'Seleccionar' : 'Deseleccionar'}"
                                        th:disabled="${asiento4.estado == 'Ocupado'}"
                                        th:style="'background-color: ' + (${asiento4.estado != null && asiento4.estado == 'Disponible' ? 'green' : 'gray'})"
                                        >
                                    </button>
                                </form>
											</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="m-3"></div>
  <center><div  th:each="dato: ${datos}">
	<form th:action="@{'/asientos/guardarReserva/' + ${dato[6]}}" method="post">
                                 
                                    <button type="submit" class="btn btn-primary">
										Realizar reserva
									</button>
                                </form>
                                </div>
                                </center>
<center>
<div class="m-3"></div>



 <center><div  th:each="dato: ${datos}">
	<form th:action="@{'/asientos/cancelarReserva/' + ${dato[6]}}" method="post">
                                 
                                    <button type="submit" class="btn btn-danger">
										Cancelar reserva
									</button>
                                </form>
                                </div>
                                </center>
                                </center>
        </div>
        </div>
<footer th:replace="pasajero/layout :: footer"></footer>


</body>

</html>