<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
	<h1>Asientos disponibles</h1>
	
	<div class="container py-4">
		<div class="row">
			<div class="col-md-3">
				<div class="card bg-light">
					<div class="card-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>asiento</th>
									<th>Seleccionar</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="asiento: ${asientos}">
									<td th:text="${asiento.fila + asiento.columna}"
										th:style="'background-color: ' + (${asiento.estado != null && asiento.estado == 'Disponible' ? 'gray' : 'red'})">
									</td>
									<td>
										<button class="btn btn-secondary btn-xs"
											onclick="seleccionarAsiento(this)"
											th:disabled="${asiento.estado == 'Ocupado'}"
        disabled="${asiento.estado == 'Ocupado'}">Seleccionar</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card bg-light">
					<div class="card-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>asiento</th>
									<th>Seleccionar</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="asiento2: ${asientos2}">
									<td th:text="${asiento2.fila + asiento2.columna}"
										th:style="'background-color: ' + (${asiento2.estado != null && asiento2.estado == 'Disponible' ? 'gray' : 'red'})">
									</td>
									<td>
										<button class="btn btn-secondary btn-xs"
											onclick="seleccionarAsiento(this)"
											th:disabled="${asiento2.estado == 'Ocupado'}"
        disabled="${asiento2.estado == 'Ocupado'}">Seleccionar</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card bg-light">
					<div class="card-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>asiento</th>
									<th>Seleccionar</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="asiento3: ${asientos3}">
									<td th:text="${asiento3.fila + asiento3.columna}"
										th:style="'background-color: ' + (${asiento3.estado != null && asiento3.estado == 'Disponible' ? 'gray' : 'red'})">
									</td>
									<td>
										<button class="btn btn-secondary btn-xs"
											onclick="seleccionarAsiento(this)"
											th:disabled="${asiento3.estado == 'Ocupado'}"
        disabled="${asiento3.estado == 'Ocupado'}">Seleccionar</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card bg-light">
					<div class="card-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>asiento</th>
									<th>Seleccionar</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="asiento4: ${asientos4}">
									<td th:text="${asiento4.fila + asiento4.columna}"
										th:style="'background-color: ' + (${asiento4.estado != null && asiento4.estado == 'Disponible' ? 'gray' : 'red'})">
									</td>
									<td>
										<button class="btn btn-secondary btn-xs"
											onclick="seleccionarAsiento(this)"
											th:disabled="${asiento4.estado == 'Ocupado'}"
        disabled="${asiento4.estado == 'Ocupado'}">Seleccionar</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

	<script>
		var asientosSeleccionados = 0;

		function seleccionarAsiento(boton) {
			if (boton.style.backgroundColor === "green") {
				boton.style.backgroundColor = "";
				asientosSeleccionados--;
			} else if (asientosSeleccionados < 4) {
				boton.style.backgroundColor = "green";
				asientosSeleccionados++;
			} else {
				alert("Por política, solo se pueden seleccionar 4 asientos máximo por unidad.");
			}
		}

	</script>


</body>

</html>