<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="pasajero/layout :: head">

</head>

<body>
	<link rel="stylesheet" th:href="@{/css/pasajero/listarseleccion.css}" />
	<header th:replace="pasajero/layout :: header"></header>

	<div class="uni">
		<h1>Confirmar selección:</h1>
	</div>
	<div class="m-3"></div>
	<div class="container py-4">
		<div id="seleccion" class="card bg-light">
			<div id="ast" class="card-header"> Asientos seleccionados:</div>
			<div id="tar" class="card-body d-flex justify-content-between align-items-center">

				<div class="vista">
					<p>Usted ha seleccionado el/los siguientes asientos:</p>
					<table class="table table-dark table-hover">
						<thead class="thead-inverse">
							<tr>
								<th class="bg-dark text-white">F I L A</th>
								<th class="bg-dark text-white">C O L U M N A</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="asiento: ${asientos}" th:data-id="${asiento.id}">
								<td th:text="${asiento.fila}"></td>
								<td th:text="${asiento.columna}"></td>
							</tr>
						</tbody>
					</table>
					<span>Cada número y fila se encuentran anotados en la unidad seleccionada, favor de prestar
						atención si son los asientos a reservar.</span>
				</div>

				<img th:src="@{/images/pasajero/img6r.png}" width="500px" height="200px">

			</div>
		</div>
	</div>

	<div class="infor">
		<div class="row">
			<div class="col-sm-6">
				<div class="card" style="max-width: 450px; max-height: 450px; overflow: auto;">
					<div class="card-body">
						<h5 class="card-title">COSTO:</h5>
						<div class="is">Precio Unitario: <p th:text="'$'+${costo2}"></p>
						</div>
						<div class="is">Subtotal (sin iva): <p th:text="'$'+${costo}"></p>
						</div>
						<div class="is">Total: <p th:text="'$'+${costo3}"></p>
						</div>

					</div>
					<img th:src="@{/images/pasajero/img8.png}" width="150px" height="120px">
					<br>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card" style="max-width: 450px;">
					<div class="card-body">
						<h5 class="card-title">MÉTODO DE RESERVA</h5>
						<div>
							<form th:action="@{/payment}" method="get">

								<button type="submit" class="btn btn-secondary" onclick="guardarAsientos()">
									Realizar reserva (Paypal)
								</button>
								<p class="isa">Al reservar por paypal , se cancelara el total y solo debera presentar el
									qr de cada
									boleto para ingresar a su unidad.</p>
							</form>
						</div>
						<div th:each="dato: ${datos}">
							<form id="formReserva" th:action="@{'/asientos/guardarReserva/' + ${dato[6]}+'/'+${costo3}}"
								method="post">
								<input type="hidden" id="idsAsientosSeleccionados" name="idsAsientosSeleccionados" />
								<button type="submit" class="btn btn-secondary" onclick="guardarAsientos()">
									Realizar reserva (Efectivo)
								</button>
								<p class="isa">Al reservar en efectivo debe cancelar el valor total en ventanilla una
									hora antes ,
									caso contrario se aplicará una multa.</p>
							</form>
						</div>
						<img th:src="@{/images/pasajero/img7.png}" width="150px" height="110px">
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="m-3"></div>
	<div class="m-3"></div>
	<center>
		<div th:each="dato: ${datos}">
			<form th:action="@{'/asientos/cancelarReserva/' + ${dato[6]}}" method="post">

				<button type="submit" class="btn btn-danger">
					Cancelar reserva
				</button>
			</form>
		</div>
	</center>


	<footer th:replace="pasajero/layout :: footer"></footer>
	<script th:src="@{/js/pasajero/listarseleccion.js}"></script>
</body>

</html>