<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="pasajero/layout :: head">

</head>
    


<body>
	<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
		<header th:replace="pasajero/layout :: header"></header>

		

	 <div id="qrcode"></div>
    <script>
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            width: 200,
            height: 200
        });

        // Obtener el ID del boleto de la URL
        var urlParams = new URLSearchParams(window.location.search);
        var boletoId = urlParams.get('id');

        // Generar el código QR con el ID del boleto
        qrcode.makeCode(boletoId);
    </script>

	<footer th:replace="pasajero/layout :: footer"></footer>

</body>
</html>