<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout2 :: head">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add the viewport meta tag for responsiveness -->
</head>

<body>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <header th:replace="layout/layout2 :: header"></header>
    <link rel="stylesheet" th:href="@{/css/pasajero/vista.css}" />
    <link rel="stylesheet" th:href="@{/Administrador/style2.css}" />

    <section id="clients" class="clients section-bg">
        <div class="container">
            <div class="row" data-aos="zoom-in">
                <!-- Add responsive classes for different screen sizes -->
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
                </div>
                <!-- Repeat the above block for other client images -->

            </div>
        </div>
    </section>

    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
            <div class="uni">
                <div class="section-title">
                    <h2>ASIENTO</h2>
                    <center>
                        <div id="qrcode"></div>
                    </center>
                </div>
            </div>
        </div>
    </section>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var qrCodeData = /*[[${qrCodeData}]]*/ '';
        console.log("Contenido de qrCodeData:\n" + qrCodeData);
        /*]]>*/
    </script>

    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            text: qrCodeData,
            width: 400,
            height: 400
        });
        /*]]>*/
    </script>

    <footer th:replace="layout/layout2 :: footer"></footer>

</body>
</html>