<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Confirmacion de registro</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
</head>

<body>
 <link rel="stylesheet" th:href="@{/css/pasajero/ola.css}">
 
 
<div class="navbar">
		<a th:href="@{/index}">
         <img th:src="@{/images/logo.png}" alt="no disponible" width="150" height="auto"/>
         </a>
    </div>
    
    
<div class="moving-zone">
    <div class="popup">
        <div class="popup-content">
            <div class="popup-text">
               Puedes ingresar ahora al servicio.<br/>
              <span th:text="${message}"></span>
                <a th:href="@{/login}">inicia sesión aqui</a></span>
            </div>
        </div>
    </div>
</div>


    <script th:src="@{/js/pasajero/ola.js}"></script>
    
<footer  >
	  
		
			<p class="m-0 text-center text-white">Copyright &copy; Boletos
				online</p>
	
		</footer>

</body>
</html>