<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>
<link rel="stylesheet" th:href="@{/Administrador/style.css}" />

<body>
	<header th:replace="layout/layout :: header"></header>
	  <section id="hero1" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" data-aos="fade-up" data-aos-delay="200">
                    <h1>Rutas</h1>
                </div>
            </div>
        </div>
    </section>
	<div class="container py-2">
  <div class="card bg-light">
    <div class="card-header" th:text="${titulo}"></div>
    <div class="card-body">

      <div class="table-responsive">
        <table class="table table-striped table-bordered" style="max-width: 800px; margin: auto;">
          <thead class="thead-inverse">
            <tr>
              <th class="bg-dark text-white">Id</th>
              <th class="bg-dark text-white">Ruta de origen</th>
              <th class="bg-dark text-white">Ruta de destino</th>
              <th class="bg-dark text-white">Costo de la ruta</th>
              <th class="bg-dark text-white">Editar</th>
              <th class="bg-dark text-white">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="ruta: ${rutas}">
              <td th:text="${ruta.id}"></td>
              <td th:text="${ruta.rutaOrigen}"></td>
              <td th:text="${ruta.rutaDestino}"></td>
              <td th:text="${ruta.costoRuta}"></td>
              <td><a class="btn btn-secondary btn-xs" th:href="@{/ruta/form/}+ ${ruta.id}">Editar</a></td>
              <td><a class="btn btn-danger btn-xs" th:href="@{/ruta/eliminar/}+ ${ruta.id}">Eliminar</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <a th:href="@{/ruta/form}" class="btn btn-secondary">Crear Ruta</a>
    </div>
  </div>
</div>
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>