<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>
<link rel="stylesheet" th:href="@{/Administrador/style.css}" />

<body>
	<header th:replace="layout/layout :: header"></header>

  <section id="hero1" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" data-aos="fade-up" data-aos-delay="200">
                    <h1>Configuracion</h1>
                </div>
            </div>
        </div>
    </section>
	
  <div class="container py-2"> <!-- Reduje el espacio vertical -->
  <div class="card bg-light">
    <div class="card-header" th:text="${titulo}"></div>
    <div class="card-body">

      <div class="table-responsive">
        <table class="table table-striped table-bordered" style="max-width: 800px; margin: auto;">
          <!-- Añadí un estilo para limitar la anchura y centrar la tabla -->
          <thead class="thead-inverse">
            <tr>
              <th class="bg-dark text-white">id</th>
              <th class="bg-dark text-white">fecha de Configuracion</th>
              <th class="bg-dark text-white">descuento</th>
              <th class="bg-dark text-white">iva</th>
              <th class="bg-dark text-white">cantidad de VentaB</th>
              <th class="bg-dark text-white">estado</th>
              <th class="bg-dark text-white">editar</th>
              <th class="bg-dark text-white">eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="configuracion: ${configuraciones}">
              <td th:text="${configuracion.id}"></td>
              <td th:text="${configuracion.fechaConfiguracion}"></td>
              <td th:text="${configuracion.descuento}"></td>
              <td th:text="${configuracion.iva}"></td>
              <td th:text="${configuracion.cantidadVentaB}"></td>
              <td th:text="${configuracion.estado}"></td>
              <td><a class="btn btn-primary btn-xs" th:href="@{/configuracion/form/}+ ${configuracion.id}">editar</a></td>
              <td><a class="btn btn-danger btn-xs" th:href="@{/configuracion/eliminar/}+ ${configuracion.id}">eliminar</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <a th:href="@{/configuracion/form}" class="btn btn-secondary">Crear Configuración</a>
    </div>
  </div>
</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>