<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">


				<table class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
						<tr>
							<th class="bg-dark text-white">id</th>
							<th class="bg-dark text-white">rutaorigen</th>
							<th class="bg-dark text-white">rutadestino</th>
							<th class="bg-dark text-white">costoruta</th>
							<th class="bg-dark text-white">editar</th>
							<th class="bg-dark text-white">eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ruta: ${rutas}">
							<td th:text="${ruta.id}"></td>
							<td th:text="${ruta.rutaOrigen}"></td>
							<td th:text="${ruta.rutaDestino}"></td>
							<td th:text="${ruta.costoRuta}"></td>
							<td><a class="btn btn-secondary btn-xs"
								th:href="@{/ruta/form/}+ ${ruta.id}">editar</a></td>
							<td><a class="btn btn-danger btn-xs"
								th:href="@{/ruta/eliminar/}+ ${ruta.id}">eliminar</a></td>
						</tr>
					</tbody>
				</table>
				<a th:href="@{/ruta/form}" class="btn btn-secondary">Crear Ruta</a>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>