<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- link css -->
   

    <!-- link icon -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css}" integrity="sha512-ZnR2wlLbSbr8/c9AgLg3jQPAattCUImNsae6NHYnS9KrIwRdcY9DxFotXhNAKIKbAXlRnujIqUWoXXwqyFOeIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
	<script src="https://mediafiles.botpress.cloud/8ea7035c-513b-42fc-8968-4046aca4a9eb/webchat/config.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
 <link rel="stylesheet" th:href="@{/css/style.css}">
<body>
    <div class="container">
        <div class="box">
            <div class="form sign_in">
                <h3>Inicio de sesión</h3>
                <span>Usa tus credenciales en la aplicacion:</span>

                <form th:action="@{/login}" method="post" class="form_input">
                    <div class="type">
                        <input class="input-group__input" type="text" placeholder="Correo electronico" name="username" id="username">
                    </div><br>
                    <div class="type">
                        <input class="input-group__input"  type="password" placeholder="Contraseña" name="password" id="passwordSignIn">
                    </div> <br>
                     <div >
                        <a class="g" th:href="@{/forgot_password}">Olvidaste tu contraseña?</a>
                    </div>
                    
                     <br> 

                   

                    <button class="btn bkg" type="submit">Ingresar</button>
                    
                </form>
            </div>
    
            <div class="form sign_up">
                <h3>Registro</h3>
                <span>Ingresa tu información para registrarte:</span>
				<div th:if=${param.exito}>
					<div class="alert alert-info">Se ha registrado exitosamente a
						la aplicación. Revise su enlace de verificacion para continuar</div>
				</div>
                <form th:action="@{/registro}" method="post" class="form_input">
                    <div class="type">
                        <input class="input-group__input" type="text" placeholder="Nombre" name="nombre" id="name">
                    </div> <br>
                      <div class="type">
                        <input class="input-group__input" type="text" placeholder="Apellido" name="apellido" id="apellido">
                    </div> <br>
                    <div class="type">
                        <input class="input-group__input" type="email" placeholder="Correo Electrónico" name="email" id="email">
                        <span>No es un correo valido</span>
                    </div> 
                    <div class="type">
                        <input class="input-group__input" type="password" placeholder="Contraseña" name="password" id="passwordSignUp" pattern="[a-z0-9] {8,}">
                        <span class="input-group__error">Ingresa digitos y letras, minimo 8 caracteres</span>
                    </div><br><br>

                    <button class="btn bkg" type="submit">Confirmar</button>
                </form>
            </div>
        </div>

        <div class="overlay">
            <div class="page page_signIn">
                <h3>Bienvenido de vuelta!</h3>
                <p>Aun no estas registrado?</p>

                <button class="btn btnSign-in">Registrate <i class="bi bi-arrow-right"></i></button>
            </div>

            <div class="page page_signUp">
                <h3>Hola Amigo!</h3>
                <p>Ya formas parte de nosotros?</p>

                <button class="btn btnSign-up">
                    <i class="bi bi-arrow-left"></i> Ingreso</button>
            </div>
        </div>
    </div>

    <!-- link script -->
    <script th:src="@{/js/main.js}"></script>
</body>

<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>

</html>
