@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 60%;
    
    display: flex;
    height: 530px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* .container .box {
    position: relative;
    height: 100%;
    width: 50%;
    transition: all 1.5s;
    transform: translateX(0);
    background-color: #fff;
    z-index: 1;
}

.container.active .box {
    transition: all 1.5s;
    transform: translateX(100%);
}

.container .box .form {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .box .form.sign_up {
    opacity: 0;
    z-index: 2;
    background-color: #fff;
}


.container .box .form.sign_in {
    transition: all 0.5s;
    z-index: 5;
    background-color: #fff;
}

.container.active .box .form.sign_in {
    animation: Show 0.65s ease-in-out;
}

.container .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #FF4167;
    width: calc(100% - 50%);
    height: 100%;
    transition: all 1.5s;
    transform: translateX(0);
    z-index: 5;
}

.container.active .overlay {
    transition: all 1.5s;
    transform: translateX(-100%);
}

.container .overlay .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.container .overlay .page.page_signIn {
    z-index: 2;
    background-color: #FF4167;
}

.container .overlay .page.page_signUp {
    z-index: 5;
    background-color: #FF4167;
}

.overlay .page h3 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 15px;
}

.overlay .page p {
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 17px;
}

.btn {
    display: inline-block;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 550;
    background-color: transparent;
    padding: 12px 45px;
    border-radius: 22px;
    border: 1.5px solid #fff;
    cursor: pointer;
}

.form h3 {
    color: #222;
    font-size: 40px;
}

.form span {
    color: #3a3838;
}

#form_input .type {
    width: 330px;
    height: 48px;
    background-color: #EEEDEF;
    margin: 30px 0;
}

#form_input .type input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
}

#form_input .type input::placeholder {
    color: #A9A8A9;
}

#form_input .forgot {
    margin-bottom: 20px;
    font-weight: 500;
}

.bkg {
    background-color: #FF4167;
} */

@keyframes Show {
    0%, 49.999% {
        opacity: 0;
        z-index: 1;
    }
    100% {
        opacity: 1;
        z-index: 5;
    }
}

@keyframes Hidden {
    0%, 49.999% {
        opacity: 1;
        z-index: 5;
    }
    100% {
        opacity: 0;
        z-index: 1;
    }
}

.container .box {
    position: relative;
    display: flex;
    height: 100%;
    width: 50%;
    transition: all 0.8s;
    transform: translateX(0);
    background-color: #fff;
    z-index: 1;
    overflow: hidden;
}


.container.active .box {
    transform: translateX(100%);
}

.container .box .form {
    position: absolute;
    height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#form_input .forgot a {
    color: #ffffff !important; /* Agrega !important para asegurar la especificidad */
    text-decoration: none;
}

#form_input .forgot a:hover {
    color: #37517e !important;
}

.container .box .form.sign_up {
    /* transition: all 0.5s;
    opacity: 0;
    transform: translateX(-100%); */
}

.container .box .form.sign_up {
    transition: all 1.15s;
    z-index: 1;
    opacity: 0;
  background-color: #343a40; 
}

.container .box .form.sign_in {
    opacity: 1;
    transition: all 1.15s;
    z-index: 5;
  background-color: #343a40; 
}

.container.active .box .form.sign_in {
    z-index: 1;
    opacity: 0;
}

.container.active .box .form.sign_up {
    z-index: 5;
    opacity: 1;
}

.container.active .box .form.sign_up {
    /* opacity: 1;
    transform: translateX(0%); */
}

.container .box .form.sign_in {
    /* transition: all 0.5s;
    opacity: 1;
    transform: translateX(0%); */
}

.container.active .box .form.sign_in {
    /* opacity: 0;
    transform: translateX(100%); */
}

.container .overlay {
    display: flex;
    height: 100%;
    width: 50%;
    transition: all 0.8s;
    transform: translateX(0);
    background-color: #37517e;
    z-index: 1;
    overflow: hidden;
    z-index: 5;
    opacity: 1;
}

.container.active .overlay {
    transform: translateX(-100%);
}

.container .overlay .page {
    height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s;
    opacity: 1;
}

.container.active .overlay .page.page_signIn {
    opacity: 0;
    margin-left: -100%;
}

.container.active .overlay .page.page_signUp {
    margin-left: 0%;
}


.overlay .page h3 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 15px;
}

.overlay .page p {
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 17px;
}

.btn {
    display: inline-block;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 550;
    background-color: transparent;
    padding: 12px 45px;
    border-radius: 22px;
    border: 1.5px solid #fff;
    cursor: pointer;
}

.form h3 {
    color: #fff;
    font-size: 40px;
}

.form span {
    color: #3a3838;
}

#form_input .type {
    width: 330px;
    height: 48px;
    background-color: #EEEDEF;
    margin: 30px 0;
}

#form_input .type input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
}

#form_input .type input::placeholder {
    color: #A9A8A9;
}

#form_input .forgot {
    margin-bottom: 20px;
    font-weight: 500;
}

.bkg {
    background-color: #37517e;
}


input-group__input {
    font-weight: bold;
  }

  .input-group__input:focus {
    outline-offset: 5px;
  }

  .input-group {
    position: relative;
    --x: 20px;
    --y: 10px;
    margin-bottom: 15px;
  }

  .input-group__label,
  .input-group__input,
  .submit-btn {
    font-size: 1.2rem;
  }

  .input-group__input {
    border: 2px solid rgb(177, 177, 177);
    width: 100%;
    padding: var(--y) var(--x);
  }
  
  .input-group_input, .input-group_error {
    --left: 0;
    left: var(--left);
    position: relative;
  }

 .input-group__input:is(
      :focus,
      :not(:placeholder-shown)
    )
    ~ .input-group__label {
    top: calc(var(--y) - 20px);
    font-size: 0.7rem;
    border-color: black;
    color: var(--color-valid);
  }

  .input-group__label {
    position: absolute;
    background-color: white;
    left: calc(var(--x) - 6px);
    top: calc(var(--y) - 3px);
    border: 1px solid transparent;
    padding: 0 6px;
    margin: 0;
    cursor: text;
    transition: top 300ms, font-size 300ms,
      border-color 300ms;
  }
  .g{
	  color: #ffffff;
  }

  .input-group__error {
    color: red;
    display: block;
    visibility: hidden;
    margin-left: var(--x);
    margin-top: 1px;
    font-size: 0.6rem;
  }

 .input-group__input:not(:focus):invalid {
    color: red;
    animation: error-shake 600ms;
    border: 2px solid var(red);
  }

  .input-group_input:not(:focus):invalid ~ .input-group_error {
    visibility: visible;
    animation: error-shake 600ms;
  }

  @keyframes error-shake {
    0% {
      --left: -10px;
    }
    20% {
      --left: 8px;
    }
    40% {
      --left: -6px;
    }
    60% {
      --left: 4px;
    }
    80% {
      --left: -2px;
    }
    100% {
      --left: 0;
    }
  }

  .input-group_input:not(:focus):invalid ~ .input-group_label {
    color: red;
    border-color: red;
    }
    
  .navbar {
    background-color: #ffffff; /* Color de fondo del navbar */
    padding: 10px; /* Espaciado interno del navbar */
    text-align: center;
    position: fixed; /* Fija el navbar en la parte superior */
    top: 0;
    height: 70px;
    width: 100%;
     z-index: 10; /* Z-index alto para que esté por encima de otros elementos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra al navbar */
    display: flex; /* Utiliza flexbox para alinear el contenido */
    justify-content: space-between; /* Espacio uniforme entre los elementos */
    align-items: center; /* Centra verticalmente el contenido */
}

.navbar img{
	margin-left: 65px;
}

 
 footer {
    position:fixed;
    margin-top: 400px;
    padding-top: 100px;
    bottom: 0;
    width: 100%;
    background-color: #37517e; /* Color de fondo del footer */
    color: #fff; /* Color del texto del footer */
    padding: 10px; /* Espaciado interno del footer */
    text-align: center;
    z-index: 1000;
}

 .alert-info {
      color: white; /* Establece el color del texto a blanco */
      background-color: seagreen;  /* Puedes ajustar el color de fondo según tus necesidades */
      padding: 15px;
      border-radius: 5px;
    }
    
     .alert {
      margin-bottom: 20px;
    }

    /* Estilo específico para la alerta de logout */
    .alert-logout {
      background-color: #d4edda;
      border-color: #c3e6cb;
      color: #155724;
    }
    
    .perro{
		color: black;
	}
	
 .o {
	color: white !important; /* Establece el color del texto a blanco */
      background-color: #37517e; /* Puedes ajustar el color de fondo según tus necesidades */
      padding: 15px;
      border-radius: 5px; 
      
      }
      
      

 .alert-danger {
            background-color: red;
     		border-color: red;
      		color: white;
      		  padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
        }
   
      
      