body {
			font-family: Arial, sans-serif;
			background-color: #f2f2f2;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			margin: 0;
		}
		.container {
			background-color: #fff;
			padding: 150px;
			box-shadow: 0 0 10px rgba(0,0,0,0.1);
			border-radius: 5px;
			background-size: 140%;
		}
		.container h2 {
			text-align: center;
			margin-bottom: 20px;
		}
		.container form {
			display: flex;
			flex-direction: column;
		}
		.container label {
			margin-bottom: 5px;
		}
		.container input[type="email"], .container input[type="password"] {
			padding: 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			margin-bottom: 10px;
		}
		.container input[type="submit"] {
			background-color: #0042A4;
			color: #fff;
			padding: 10px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			margin-top: 10px;
		}
		.container input[type="submit"]:hover {
			background-color: #0042A4;
		}
		.bus-image {
  width: 40%; /* Adjust the width as needed */
  height: auto;
  margin-right: 2rem; /* Add some margin between the image and the login container */
}
.bus {
  width: 40%; /* Adjust the width as needed */
  height: auto;
  margin-right: 2rem; /* Add some margin between the image and the login container */
}
		.container a {
			text-align: center;
			display: block;
			margin-top: 10px;
			color: #0042A4;
			text-decoration: none;
		}
		.container a:hover {
			text-decoration: underline;
		}
		.bus {
			margin-right: 100%;
		}
