html, body { height: 100%; }
body {
    margin: 0;
    background: #ffff;
    overflow: hidden;
}

.moving-zone {
    position: absolute;
    top:50%; left:50%;
    width:300px; height:120px;
    margin: -60px 0 0 -150px;
    perspective: 800px;
}
.popup {
    position: absolute;
    width:300px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px 0 20px 0;
    cursor: pointer;
    transform-style: preserve-3d;
    background: -webkit-linear-gradient(top left, blue 50%, #37517e 50%);
    background:    -moz-linear-gradient(top left, blue 50%, #37517e 50%);
    background:     -ms-linear-gradient(top left, blue 50%, #37517e 50%);
    background:      -o-linear-gradient(top left, blue 50%, #37517e 50%);
    background:         linear-gradient(top left, blue 50%, #37517e 50%);
}
.popup:before {
    content: '';
    position: absolute;
    left:5%; top:5%;
    width:90%; height:90%;
    border-radius: inherit;
    background: rgba(0,0,0,.1);
    box-shadow: 0 0 40px 20px rgba(0,0,0,.1);
    transform: translateZ(-100px);
}
.popup-content {
    background: #209dd8;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px 0 10px 0;
}
.popup-text {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    text-align: center;
    transform: translateZ(15px);
}
.popup-text b {
    color: coral;
    font-weight: 300;
}

 .navbar {
    background-color: #ffffff; /* Color de fondo del navbar */
    padding: 10px; /* Espaciado interno del navbar */
    text-align: center;
    position: fixed; /* Fija el navbar en la parte superior */
    top: 0;
    height: 70px;
    width: 100%;
     z-index: 10; /* Z-index alto para que esté por encima de otros elementos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra al navbar */
    display: flex; /* Utiliza flexbox para alinear el contenido */
    justify-content: space-between; /* Espacio uniforme entre los elementos */
    align-items: center; /* Centra verticalmente el contenido */
}

.navbar img{
	margin-left: 65px;
}

 
 footer {
    position:fixed;
    margin-top: 400px;
    padding-top: 100px;
    bottom: 0;
    width: 100%;
    background-color: #37517e; /* Color de fondo del footer */
    color: #fff; /* Color del texto del footer */
    padding: 10px; /* Espaciado interno del footer */
    text-align: center;
    z-index: 1000;
}
